.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.resizeTable {
  width: 100%;
  min-width: 650px;
  border-right: 5px solid #7e92f6;
}

.ant-tabs-tabpane {
  display: flex;
  min-width: 430px;
}

.active {
  background-color: #eae9e9;
}

.row {
  cursor: pointer;
}

.ant-table-cell {
  min-width: 215px;
}
